<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SpiffyConnect Library Tests">
            <directory>./SpiffyConnectTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>
